*{ box-sizing: border-box;
   
}


body{
   
    background: #f2f2f2;
    padding: 0;
    margin: 0;
    color: #4a4a4a;
    font-family: var(--font-family);
    font-weight: 400;
}

nav{
    border: 2px solid darkblue;
    height: 110px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(black,darkBlue);
    position: sticky;
    top: 0;
   z-index:1;

}

nav img{
    height: 110px;
   margin-left: 30px;
   margin-top: 5px;
   
}

 .tags{

    width: 1000px;
    margin-top: 50px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
   }


 
nav a{
   text-decoration: none;
   color: white;
   font-size: 20px;
   
}

nav a:hover{
   color: white;
}

p{
    font-size: calc(var(--font-scale, 1) * 16.5px);
    line-height: 23px
}
#search-container{
    
    height: 170px;
    background-image: linear-gradient(rgb(0, 0, 23),rgb(0, 0, 105));

}
.size{
    width:200px;
    height: 40px;
}
#innerdiv div{
    margin-top: 20px;
}

#innerdiv input, select{
    border: 3px solid  #008cff;
}
#search{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50px;
    margin: auto;
    margin-top:30px;
}
#search input{
width: 70%;
border-radius: 20px;
border:none;
}

#search button{
    width:20%;
    border-radius:20px;
    background-color: #008cff;
    }
#date{
    color: #008cff;
}
#sort {
    width:100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    background-color:#E4FBFC;
   
}

#atoz {
    padding: 10px;
    background-color:#E4FBFC;
    border: none;
}

#ztoa {
    padding: 10px;
    background-color:#E4FBFC;
    border: none;

}

#dist {
    padding: 10px;
    margin-left: 50px;
    border: none;
    background-color:#E4FBFC;
}

#left {
    width: 45%;
}

#left p {
    color: rgb(107, 107, 107);
  
}

#checkbox span {
    margin-left: 10px;
    background-color: red;
    color: white;
}

.checkbox {
    width: 20px;
    height: 20px;

}

.checkbox1 {
    width: 20px;
    height: 20px;

}

.checkbox1 span {
    margin-left: 10px;
}

#produnct {
    width: 90%;
    display: flex;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;


}

#container {
    padding: 15px;

}

#card {
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 #8a6b7614;
    cursor: pointer;
    position: relative
  
}

.checked {
    color: orange;
}

#card:hover {
    border: 1px solid rgb(255, 233, 233);
    background-color: rgb(226, 250, 242);
}

.cardbody {
    width: 50%;
    text-align: justify;
    padding: 20px;
}

.cardbody h2:hover {
    color: rgb(199, 202, 5);
}

.cardbody p {
    color: dimgray;
}

.cardbody h4 {

    color: rgb(43, 150, 222);

}

.cardbuy {
    width: 22%;
    padding: 20px;
    background-color: rgb(239, 235, 235);
    
}

.imagediv {
    padding: 10px;
    width: 23%;
}

.imagediv>img {
    width: 100%;
    padding: 2px;
}

.imagediv>img:hover {
    border:3px solid rgb(52, 157, 255);
}

.buybtn {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(52, 157, 255);
    border: none;
    margin-left: 20%;
    margin-top: 15%;

}

.buybtn:hover {
    background-color: rgb(255, 255, 254);
    border: 2px solid rgb(52, 157, 255);
}

.pageBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left:1%;
    background-color: rgb(52, 157, 255);

}

.pageBtn:hover {
    background-color: darkgray;
    border: 3px solid gainsboro;
}

#discount {

    padding: 15px;
   
}

#left {
    padding: 0 15px 20px 15px;
  
}

#left input {
    margin-top: 8px;
    margin-left: 10px;
}

#left span {
    margin-left: 10px;
}

#left span:hover {
    color: rgb(128, 128, 128);
}


#star {
    width: 100%;
    padding: 15px;
   
}

#experience {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
   
}

#amenities {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
   
}

#region {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    
}

#rate {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    
}

#recent {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
   
}

#favourite {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
   
}

#filter {
    width: 180px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 22%;
    border-radius: 9px;
    
    
   
}
#filter:hover{
    border:3px solid rgb(52, 157, 255);
}
#pagination {
    width: 30%;
    margin: auto;

}

/* =====================footer================ */

footer {
    background-color: #0f0f0f;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1 1 300px;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 40px;
  }
  
  .footer-section p {
    margin-bottom: 5px;
  }
  
  .footer-links {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .footer-links li {
    margin-bottom: 5px;
  }
  
  .footer-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
  }
   .Website {
     display: flex;
     justify-content: space-between;
     width: 200px;
     margin-left: 80%;
   }
  .Website img{
    width: 25px;
  }
  
  /* Media Query  */

  /* label{
    margin: 0 40 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: left;
  } */

  #toggle{
      display: none;

  }


  @media only screen and (max-width: 700px){
   

    .tags{
      text-align: center;
      width: 90%;
      display: none;
    }

    .tags a{
       display: block;
       border-bottom: 1px solid #EAEAEB;
       margin: 0;
       color: chocolate;
    }

    #toggle:checked + .tags{
      display: block;
    }

    .tags{

      width: 1000px;
      margin-top: 10px;
      margin-left: 300px;
     display: grid;


      position: fixed;
      top: 0;
     }

     .place {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      

     }

     .place .only-img p{
      display: none;
     }

      .search{
        display: none;
      }

      .two{
        display: none;
      }
      .three{
        display: none;
      }
      .four{
        display: none;
      }
      .five{
        display: none;
      }


      .shortthreetwo{
        display: none;
      }

      .toptwo h1{
        display: none;
      }

      .midcontaint h2{
        display: none;
      }
      .midcontaint p{
        display: none;
      }

      .midcontaint img{
        width: 150px;
        height: 150px;
      }
      

      .Question .Queone{
        display: none;
      }
      .Question .Quetwo{
        display: none;
      }

      .Website{
        margin-left: 10px;
      }

      .footer-links{
        display: none;
      }

      .midpart3 img{
        width: 150px;
      }

      .booking .link-div{
        display: none;
        

      }
      .container{
        width: 660px;
        border-radius: 20px;
      
      }
  }

/* ===================================media quarry==================== */

@media only screen and (min-width:500px) and (max-width:900px) {
    
    #left {
        display: none;

    }
    #search-container{
        height: 50vh;
        margin: auto;
    }
    #innerdiv{
        width: 80%;
        display:flex;
       flex-direction: column;
        margin: auto;
        justify-content: center;
       align-items: center;
    }
    #sort {
        flex-direction: column;
        margin: auto;
    }

    #atoz {

        margin: auto;
    }

    #ztoa {

        margin: auto;
    }

    #dist {

        margin: auto;
    }

    #card {
        flex-direction: column;
        margin: auto;

    }

    .imagediv {
        width: 80%;
        margin: auto;
    }

    .cardbody {
        width: 80%;
        margin: auto;
    }

    .cardbuy {
        width: 80%;
        margin: auto;
    }

    .buybtn {
        margin: auto;
    }

    .anc {
        display: none;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        margin: auto
    }

    #sort {

        flex-direction: column;
    }
    #pagination{
       width:40%;
       margin: auto;

    }
}


@media only screen and (max-width:499px) {

    #left {
        display: none;

    }

    #card {
        flex-direction: column;
        margin: auto;
       
    }

    #sort {
        flex-direction: column;
        margin: auto;
    }

    #atoz {

        margin: auto;
    }

    #ztoa {

        margin: auto;
    }

    #dist {
        width: 80%;
        margin: auto;
    }

    .imagediv {
        width: 80%;
        margin: auto;
    }

    .cardbody {
        width: 80%;
        margin: auto;
    }

    .cardbuy {
        width: 80%;
        margin: auto;
    }

    .buybtn {
        margin: auto;
    }

    .anc {
        display: none;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        margin: auto
    }

    #pagination{
        width:60%;
        margin: auto;
 
     }
}