
nav{
    border: 2px solid darkblue;
    height: 110px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(black,darkBlue);
    position: sticky;
    top: 0;
   

}

nav img{
    height: 110px;
   margin-left: 30px;
   margin-top: 5px;
   
   
}

 .tags{
    
    width: 1000px;
    margin-top: 50px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
   
    position: fixed;
    top: 0;
   }


 
nav a{
   text-decoration: none;
   color: white;
   font-size: 20px;
   
}

nav a:hover{
   color: white;
}



#container {
    width: 35%;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    border-radius: 10px;
}
#container:hover{
    border: 1px solid rgb(52, 157, 255) ;
   
}

h2 {
    background-color: rgb(52, 157, 255);
    color: white;
    padding: 10px;
   text-align: center;


}

form {
    display: flex;
    flex-direction: column;
    width:90%;
    margin-left: 20px;
    margin: auto;
}

label {
    margin-top: 10px;
    font-size: 16px;
}

input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 3%;
}

button[type="submit"] {
    width:150px;
    background-color: rgb(52, 157, 255);
    color: white;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    
}

button[type="submit"]:hover {
    background-color: rgb(52, 157, 255);
}


/* footer */

footer {
    background-color: #0f0f0f;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1 1 300px;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 40px;
  }
  
  .footer-section p {
    margin-bottom: 5px;
  }
  
  .footer-links {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .footer-links li {
    margin-bottom: 5px;
  }
  
  .footer-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 40px;
  }
   .Website {
    /* border: 2px solid red; */
     display: flex;
     justify-content: space-between;
     width: 200px;
     margin-left: 80%;
   }
  .Website img{
    width: 25px;
  }
  
  /* Media Query  */

  label{
    margin: 0 40 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: left;
  }

  #toggle{
      display: none;

  }


  @media only screen and (max-width: 700px){
   

    .tags{
      text-align: center;
      width: 90%;
      display: none;
    }

    .tags a{
       display: block;
       border-bottom: 1px solid #EAEAEB;
       margin: 0;
       color: chocolate;
    }

    #toggle:checked + .tags{
      display: block;
    }

    .tags{
      /* border: 2px solid darkblue; */
      /* height: 40px; */
      width: 1000px;
      margin-top: 10px;
      margin-left: 300px;
     display: grid;

      /* background-image: linear-gradient(black,darkBlue); */
      position: fixed;
      top: 0;
     }

     .place {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      

     }

     .place .only-img p{
      display: none;
     }

      .search{
        display: none;
      }

      .two{
        display: none;
      }
      .three{
        display: none;
      }
      .four{
        display: none;
      }
      .five{
        display: none;
      }
/* 
      .short1 .shortoneonetwo{
        display: none;
      } */

      .shortthreetwo{
        display: none;
      }

      .toptwo h1{
        display: none;
      }

      .midcontaint h2{
        display: none;
      }
      .midcontaint p{
        display: none;
      }

      .midcontaint img{
        width: 150px;
        height: 150px;
      }
      

      .Question .Queone{
        display: none;
      }
      .Question .Quetwo{
        display: none;
      }

      .Website{
        margin-left: 10px;
      }

      .footer-links{
        display: none;
      }

      .midpart3 img{
        width: 150px;
      }

      .booking .link-div{
        display: none;
        

      }
      .container{
        width: 660px;
        border-radius: 20px;
      
      }
  }
